body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0E2A26;
    font-family: 'Jura', sans-serif;
}

header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 40px;
    background-color: #071614;
}

h1 {
    margin:0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1a3b35;
}

section {
    display: flex;
    align-items: center;
    padding: 20px 40px; 
    gap: 160px;
}

section img {
    width: 300px;
    height: auto;
    border-radius: 25%;
    padding: 40px;

}
section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    border-bottom: 2px solid #1a3b35;
    padding-bottom: 10px;
}


#home {
        background: linear-gradient(to bottom, #0E2A26 0%, #0A211E 70%, #071614 100%);
}
.texto {
    max-width: 550px;
    font-size: 1.6rem;
    line-height: 1.6;
}

#sobre-mim {
    background-color: #071614;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
}

.container-sobre {
    max-width: 900px;
    text-align: center;
}

#sobre-mim h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.box-sobre {
  background-color: #0A211E;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.box-sobre p {
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: justify;
}

#habilidades {
    background-color: #0A211E;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.container-habilidades {
  max-width: 900px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box-habilidades {
    background-color: #071614;
    padding: 30px;
    border-radius: 12px;
}

.box-habilidades h3 {
    margin-top: 20px;
    color: #9fe1d9;
}

.box-habilidades ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.certificado {
    width: 250px;
    margin-top: 10px;
    border-radius: 8px;
}
.botao-curriculo {
  display: inline-block;
  margin-top: 20px;
  background-color: #1a3b35;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botao-curriculo:hover {
  background-color: #265047;
}
.soft-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px 0
}
.certificado-hover img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.certificado-hover img:hover {
  transform: scale(1.5);
  z-index: 10;
}

.icones-tecnicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px 0
}

.icone-box {
  width: 100px;
  text-align: center;
  background-color: #0E2A26;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.icone-box img {
  width: 50px;
  height: auto;
  margin-bottom: 0px;
}

.icone-box p {
  font-size: 1rem;
  color: white;
}

.icone-box:hover {
  transform: scale(1.1);
}



.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0E2A26;
  padding: 15px;
  border-radius: 10px;
  width: 120px;
  transition: transform 0.3s ease;
}

.skill-icon span {
  font-size: 2rem;
}

.skill-icon:hover {
  transform: scale(1.1);
}

.idiomas {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.idioma-box {
  background-color: #0E2A26;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 130px;
  transition: transform 0.3s;
}

.idioma-box img {
  width: 30px;
  margin-bottom: 10px;
}

.idioma-box p {
  font-size: 1rem;
  color: white;
}

.idioma-box:hover {
  transform: scale(1.1);
}

#projetos {
    background-color: #0A211E;
    color: white;
    padding: 40px 20px;
}

.container-projetos {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}


.projeto {
    background-color: #071614;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}


.projeto h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #a2f0df;
}

.projeto p {
    font-size: 16px;
    margin-bottom: 8px;
}

.projeto a {
    color: #a2f0df;
    text-decoration: none;
}

.video-projeto {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}

#contatos {
    background-color: #0E2A26;
    color: white;
    text-align: center;
    padding: 80px 20px;
  }
  
  #contatos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .botoes-contato {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .botao-contato {
    background-color: #1a3b35;
    color: white;
    padding: 20px 40px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .botao-contato:hover {
    background-color: #265047;
  }
  